[Unit]
Description=camo
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=dj
Group=dj
ExecStart=/usr/bin/node /home/dj/app/camo/server.js
Environment="PORT=9090"
EnvironmentFile=/etc/camo.env
Restart=on-failure
